@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
@*     <a asp-controller="Article" asp-action="Create" >cre</a> 
    <a asp-controller="Article" asp-action="Index">all</a>
    <a asp-controller="Article" asp-action="Aggregate">Aggregate</a>
     <a asp-controller="User" asp-action="ShowUsers">ShowUsers</a>*@
</div>
