@model UserChangePasswordModel

<form asp-action="ChangePassword" asp-controller="User" method="post">

    <input style="display:none" class="form-control" readonly class="form-control-plaintext" asp-for="Email" />

    <div class="mb-2 col-12 col-lg-7">
        <label class="form-label" asp-for="OldPassword">Old password</label>
        <input class="form-control" type="password" asp-for="OldPassword" />
        <span class="text-danger" asp-validation-for="OldPassword"></span>
    </div>

    <div class="mb-2 col-12 col-lg-7">
        <label class="form-label" asp-for="NewPassword">New password</label>
        <input class="form-control" type="password" asp-for="NewPassword" />
        <span class="text-danger" asp-validation-for="NewPassword"></span>
    </div>

    <div class="mb-2 col-12 col-lg-7">
        <label class="form-label" asp-for="NewPasswordConfirmation">New password confirmation</label>
        <input class="form-control" type="password" asp-for="NewPasswordConfirmation" />
        <span class="text-danger" asp-validation-for="NewPasswordConfirmation"></span>
    </div>

    <div>
        <button class="btn btn-primary">Submit</button>
    </div>
</form> 