@model UserModel

<h1>
    Edit User
</h1>



<form asp-action="EditUserInfo" asp-controller="User" method="post">

    <input style="display:none" class="form-control" readonly class="form-control-plaintext" asp-for="UserModelId" />
    <input style="display:none" class="form-control" readonly class="form-control-plaintext" asp-for="RoleId" />
    <input style="display:none" class="form-control" readonly class="form-control-plaintext" asp-for="RoleName" />

    <div class="mb-2 col-12 col-lg-7">
        <label class="form-label" asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>

    <div class="mb-2 col-12 col-lg-7">
            <label class="form-label" asp-for="Email"></label>
            <input class="form-control" readonly asp-for="Email"/>
            <span class="text-danger" asp-validation-for="Email"></span>
    </div>

    <div class="mb-2 col-12 col-lg-7">
        <label class="form-label" asp-for="MinRate">Minimum rating of news shown</label>
        <select class="form-control" asp-for="MinRate">
            @for (int i=-5; i<=5; i++)
            {
                <option value=@i>@i</option>
            }
        </select>
    </div>

    <div>
        <button class="btn btn-primary">Submit</button>
    </div>
</form> 