@model UserRegisterModel

<h1>
    User Register
</h1>
<form asp-action="Register" asp-controller="User" method="post" class="row">
    <div class="mb-2 col-12 col-lg-7">
        <label class="form-label" asp-for="Email"></label>
        <input class="form-control" required asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div class="mb-2 col-12 col-lg-7">
        <div>
            <label class="form-label" asp-for="Name"></label>
        </div>
        <div>
            <input class="form-control" asp-for="Name" />
        </div>
        <div>
            <span asp-validation-for="Name"></span>
        </div>
    </div>
    <div class="mb-2 col-12 col-lg-7">
        <div>
            <label class="form-label" asp-for="Password"></label>
        </div>
        <div>
            <input class="form-control" type="password" asp-for="Password" />
        </div>
        <div>
            <span asp-validation-for="Password"></span>
        </div>
    </div>
    <div class="mb-2 col-12 col-lg-7">
        <div>
            <label class="form-label" asp-for="PasswordConfirmation"></label>
        </div>
        <div>
            <input class="form-control" type="password" asp-for="PasswordConfirmation" />
        </div>
        <div>
            <span asp-validation-for="PasswordConfirmation"></span>
        </div>
    </div>
    <div class="mb-2 col-12 col-lg-7">
        <div class="row">
            <button class="btn btn-primary col">Submit</button>
        </div>
    </div>
</form> 


@section Scripts
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}